<div class="login-container bg-light">
  <div class="login-box">
    <h1>Angular 5 Task</h1>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <i class="far fa-3x fa-user-circle text-muted"></i>
          </h4>
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <div class="alert alert-danger" [hidden]="!error">
              email or password incorrect.
            </div>
            <div class="form-group">
              <label class="d-block">
                <input type="email" class="form-control" formControlName="email" autocomplete="email" [placeholder]="'Email'" email/>
                <span hidden> email</span>
                <small class="text-danger" *ngIf="formErrors.email">
                  <i class="fa fa-times"></i> {{formErrors.email}}
                </small>
              </label>
              <label class="d-block">
                <input type="password" class="form-control" formControlName="password" autocomplete="current-password" [placeholder]="'Password'"
                  />
                <span hidden>Password</span>
                <small class="text-danger" *ngIf="formErrors.password">
                  <i class="fa fa-times"></i> {{formErrors.password}}
                </small>
              </label>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" formControlName="remember" />
                  <span>Remember me</span>
                </label>
              </div>

            </div>
            <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid">
              <span>Login</span>
            </button>
            <a id="unSuccessfulButton" (click)="UnsuccessfulLogin($event)" href="">
              Click Here! To simulate UnSuccessful Login</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
